### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Makefile stuff and containers
/bin
/.go
/.push-*
/.container-*
/.dockerfile-*

# IDEs and stuff
.idea/
.DS_STORE
.vscode/

